body {
    background-color: #F8E8A6; 
    text-align: center;
}

h1 { 
    font-size: 48px;
    text-align: center;
    color: black; 
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #008000; 
  }
  li {
    display: inline;
    margin: 0 15px;
    color: #008000; 
  }
  a {
    text-decoration: none;
    color: #008000; 
  }

  .croissant-photo {
    max-width: 100px;
    border-radius: 10px; 
    display: block;
    margin: 30px 0;
  }